.adoptApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: -webkit-box;
  -webkit-box-pack: center; /* justify-content */
  -webkit-box-align: center; /* align-items */
}
.purple-bg-app {
  width: 100%;
  background: $lightPurple;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
}
.white-bg-app {
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: flex-start;
  align-items: flex-start;
}

label {
  margin: 2vw;
}
textarea {
  width: 80%;
}
input {
  margin: 2vw;
}
.req {
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  color: $darkPurple;
}
.checkbox-list-app {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(1fr, 4);
  justify-content: center;
  align-items: center;
}
.checkbox-app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.consent-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.consent-form-purple {
  background: $lightPurple;
}

.submit-app-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-app-container > button {
  font-size: clamp(1.25rem, 4vw, 5rem);
  font-family: $neucha;
  text-transform: uppercase;
  margin: 4vw;
  z-index: 2;
  background: $darkPurple;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 1rem;
}
input[type="checkbox"] {
  height: clamp(0.5rem, 3vw, 2rem);
  width: clamp(0.5rem, 3vw, 2rem);
}
