.blog-img>img {
  width: 35vw;
  height: 35vw;
}

.blog-img {
  background: $darkPurple;
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  margin: 2vw;
}