.blog-img > img {
  width: 35vw;
  height: 35vw;
  //   margin: 2vw;
}

.blog-img {
  background: $darkPurple;
  width: 40vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  //   margin:  2vw 2vw 2vw;
  border-radius: 2vw;
  margin: 2vw;
}
