.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 2%;
}

.img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper > img {
  margin: 2vw;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
}
.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.back-btn {
  height: clamp(1.5rem, 5vw, 6rem);
  width: 100%;
  font-family: $neucha;
  text-decoration: none;
  background: $lightPurple;
  font-size: clamp(1rem, 3vw, 5rem);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}
.special-needs {
  color: $darkPurple;
}
.bioJs {
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: $alegra;
  margin: 2% 10% 2% 10%;
  z-index: 2;
}
