.wishlist {
  font-size: $S-font;
  font-family: $alegra;
  margin: 5% 10% 2% 10%;
  z-index: 2;
}

.wishlist>li {
  margin-left: 4vw;
}

.special-li {
  color: $darkPurple;
}

.paypal {
  margin: 1vw;
}