footer {
  margin: 2%;
  color: $darkPurple;
  font-family: $alegra;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.footer-nav {
  width: 80%;
  margin: 2% auto 2% auto;
  border-bottom: 2px solid $darkPurple;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-nav > li {
  width: 100%;
  border-top: 2px solid $darkPurple;
}
li > a > span > i {
  margin-right: 2%;
}
.disclaimer {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  margin-left: 50%;
  width: 100%;
  grid-column: 1/2;
}

.footer-disclaimer {
  font-size: clamp(1rem, 2vw, 2rem);
  margin-right: 20%;
  grid-column: 3/4;
}

.dropdown {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.dropdown > ul > li > a {
  width: 80%;
  margin-left: 10%;
}
.dropdown > ul {
  width: 100%;
}

.dropdown > ul {
  list-style-type: none;
}
