//Header Font

$XL-font: clamp(0.5rem, 6vw, 2.5rem); //HERO
$L-font: clamp(0.4rem, 5vw, 2rem); //H1 & BUTTON
$M-font: clamp(0.3rem, 4vw, 1.8rem); // 
$S-font: clamp(0.1rem, 3vw, 1.5rem); //P
$XS-font: clamp(0.1rem, 2vw, 1rem); //Dislaimer


//Widths & Heights
$width-main: 100%;
$nav-height: clamp(0.25rem, 12vw, 6rem);
$swipe-height: 20vw;
$swipe-width: 80%;
$height_hero: clamp(0.25rem, 25vw, 12rem);
$hero-cat-width: clamp(0.25rem, 25vw, 11rem);
$adopt-size: 10vw;

// Margins
$nav-top: 3vw;

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.white-bg {
  width: $width-main;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

.purple-bg {
  width: $width-main;
  background: $lightPurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 2%;
}

h1 {
  font-size: $L-font;
  font-family: $neucha;
  text-transform: uppercase;
  margin: 2% 20% 2% 20%;
  z-index: 2;
  margin: 0.5rem;
}

h3 {
  text-transform: capitalize;
}

h4 {
  font-size: $S-font;
  font-family: $neucha;
  text-transform: uppercase;
  margin: 2% 20% 2% 20%;
  z-index: 2;
}

q,
label,
input,
textarea {
  font-size: $S-font;
  font-family: $alegra;
  margin: 2vw;
  z-index: 2;
}

p {
  font-size: $S-font;
  font-family: $alegra;
  margin: 2% 20% 0% 20%;
  z-index: 2;
}



a {
  text-decoration: none;
  color: inherit;
}

.title {
  width: 100%;
  margin: 2% 0 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.25rem;
}

.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 0%;
}

span {
  z-index: -3;
}