* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white-bg {
  width: 100%;
  background: #fff;
}

.purple-bg {
  width: 100%;
  background: $lightPurple;
}

h1 {
  font-family: $neucha;
}

p {
  font-family: $alegra;
}
input[type="submit"] {
  font-family: $neucha;
  color: blue;
}
a {
  text-decoration: none;
}

.bg-img {
  width: 25vw;
}
