.cat-parent-container {
  background: $lightPurple;
  padding: 2% 2% 2% 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $height_hero;
}

.cat-parent {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat-parent-btn {
  margin: auto;
  background: $darkPurple;
  width: 6rem;
  height: 100%;
  border-radius: 50px;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: $neucha;
  margin-top: 1rem;
}

.cat-parent-btn>h3 {
  height: 50%;
  font-family: $neucha;
  text-decoration: none;
  color: #fff;
  font-size: $M-font;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-parent-btn-search {
  color: white;
  font-size: $M-font;
  padding-right: 0.25rem;
}

.cat-parent-form {
  padding: 0;
  margin: 0;
}

.cat-parent-title {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50%;
  text-align: center;
}

span>a {
  color: $darkPurple;
}

.header-float-img {
  width: 10vw;
  position: absolute;
  margin: 0;
  margin-left: 87vw;
  margin-top: 3vw;
  z-index: 1;
}

.bg-img {
  width: calc(#{$height_hero} - 15%);
  margin-right: 10%;
}