$alegra: "Alegreya Sans",
sans-serif;
$neucha: "Neucha",
sans-serif;
$mont: "Montserrat",
sans-serif;

// $darkPurple: #8a008d;
// $lightPurple: #e3d9e2;

$darkPurple: #fc5e2e;
$lightPurple: rgb(0, 175, 203);
$black: #151515;
$blue: rgb(0, 175, 203);
// $orange: #e73e0c;