.rainbow-wrapper>img {
  width: 10vw;
  height: 10vw;
  border-radius: 2vw;
}

.rainbow-wrapper {
  background: $darkPurple;
  width: 12vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2vw 2vw 2vw;
  border-radius: 2vw;
}