$swipe-height: 25vw;
$swipe-width: 80%;

.swiper {
  margin-top: 5vw;
  height: $swipe-height;
  width: $swipe-width;
}

.swiper-slide {
  height: $swipe-height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slide-img {
  margin-top: calc((#{$swipe-height} * 0.025));
  width: calc((#{$swipe-height} * 0.35));
  border-radius: 50%;
}
//background img
.swiper-slide:after {
  content: "";
  position: absolute;
  background: $darkPurple;
  border-radius: 5%;
  height: calc((#{$swipe-height} * 0.45));
  width: calc((#{$swipe-height} * 0.4));

  z-index: -1;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.cat-name {
  margin-top: calc((#{$swipe-height} * 0.15));
  font-family: $neucha;
  font-size: calc((#{$swipe-height} * 0.1));
}

.swiper-slide:before {
  content: "";
  position: absolute;
  background: $lightPurple;
  width: calc((#{$swipe-height} * 0.5));
  height: calc((#{$swipe-height} * 0.15));
  margin-top: calc((#{$swipe-height} * 0.5));
  border-radius: 5%;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.swiper-slide:hover:before {
  transform: scale(0.9);
  transition: all 0.3s;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  margin: auto;
  top: 38vw;
  color: $darkPurple;
}
