.swiper {
  height: 32vw;
  width: 80vw;
}

.swiper-slide {
  height: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slide-img {
  margin-top: 3vw;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}
.swiper-slide:after {
  content: "";
  position: absolute;
  background: $darkPurple;
  border-radius: 5%;
  height: 18vw;
  width: 18vw;
  margin-bottom: 18vw;
  margin-top: 2vw;
  z-index: -1;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.cat-name {
  margin-top: 6vw;
  font-family: $neucha;
  font-size: clamp(1rem, 3vw, 3rem);
}

.swiper-slide:before {
  content: "";
  position: absolute;
  background: $lightPurple;
  width: 18vw;
  height: 6vw;
  margin-top: 22vw;
  border-radius: 5%;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.swiper-slide:hover:before {
  transform: scale(0.9);
  transition: all 0.3s;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  margin: auto;
  top: 45vw;
  color: $darkPurple;
}
