.btn {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #58005a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before {
  width: 100%;
}

.nav-icon:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.white-bg {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purple-bg {
  width: 100%;
  background: #e3d9e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  font-family: "Neucha", cursive;
  text-transform: uppercase;
  margin: 2% 10% 2% 10%;
  z-index: 2;
  margin: 0.5rem;
}

h3 {
  text-transform: capitalize;
}

h4 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  font-family: "Neucha", cursive;
  text-transform: uppercase;
  margin: 2% 10% 2% 10%;
  z-index: 2;
}

p,
q,
label,
input,
textarea {
  font-size: clamp(1.25rem, 4vw, 2rem);
  font-family: "Alegreya Sans", sans-serif;
  margin: 2% 10% 2% 10%;
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-img {
  width: 20vw;
}

.title {
  width: 100%;
  margin: 2% 0 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  padding: 0.25rem;
}

.thank-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10% 0%;
}

span {
  z-index: -3;
}

.swiper {
  height: 32vw;
  width: 80vw;
}

.swiper-slide {
  height: 32vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-img {
  margin-top: 3vw;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.swiper-slide:after {
  content: "";
  position: absolute;
  background: #8a008d;
  border-radius: 5%;
  height: 18vw;
  width: 18vw;
  margin-bottom: 18vw;
  margin-top: 2vw;
  z-index: -1;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.cat-name {
  margin-top: 6vw;
  font-family: "Neucha", cursive;
  font-size: clamp(1rem, 3vw, 3rem);
}

.swiper-slide:before {
  content: "";
  position: absolute;
  background: #e3d9e2;
  width: 18vw;
  height: 6vw;
  margin-top: 22vw;
  border-radius: 5%;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.swiper-slide:hover:before {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  margin: auto;
  top: 45vw;
  color: #8a008d;
}

.cat-parent-container {
  background: #e3d9e2;
  padding: 2% 2% 2% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(0.25rem, 25vw, 18rem);
}

.cat-parent {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-parent-btn {
  margin: auto;
  background: #8a008d;
  width: 35vw;
  height: 100%;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Neucha", cursive;
}

.cat-parent-btn > h3 {
  height: clamp(1.5rem, 4vw, 5rem);
  font-family: "Neucha", cursive;
  text-decoration: none;
  color: #fff;
  font-size: clamp(1rem, 3vw, 5rem);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-parent-btn-search {
  color: white;
  font-size: clamp(1rem, 3vw, 5rem);
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.cat-parent-form {
  padding: 0;
  margin: 0;
}

.cat-parent-title {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50%;
  text-align: center;
}

span > a {
  color: #8a008d;
}

.header-float-img {
  width: 10vw;
  position: absolute;
  margin: 0;
  margin-left: 87vw;
  margin-top: 3vw;
  z-index: 1;
}

footer {
  margin: 2%;
  color: #8a008d;
  font-family: "Alegreya Sans", sans-serif;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.footer-nav {
  width: 80%;
  margin: 2% auto 2% auto;
  border-bottom: 2px solid #8a008d;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-nav > li {
  width: 100%;
  border-top: 2px solid #8a008d;
}

li > a > span > i {
  margin-right: 2%;
}

.disclaimer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 40% 40%;
      grid-template-columns: 20% 40% 40%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  margin-left: 50%;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.footer-disclaimer {
  margin: 0;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-right: 20%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  font-family: "Alegreya Sans", sans-serif;
  text-transform: none;
  z-index: 1;
}

.dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
}

.dropdown > ul > li > a {
  width: 80%;
  margin-left: 10%;
}

.dropdown > ul {
  width: 100%;
}

.dropdown > ul {
  list-style-type: none;
}

.nav-container {
  width: 100%;
  height: clamp(0.25rem, 12vw, 6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 0.5vw #8a008d;
}

.nav-logo {
  margin-left: 10vw;
  height: clamp(1rem, 10vw, 2.5rem);
}

.nav-icon {
  margin: 0 2vw;
  font-size: clamp(1rem, 10vw, 3rem);
}

.nav-menu {
  margin-left: auto;
  margin-right: 5vw;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.nav-menu.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.location-popout-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.25rem;
  height: 0vw;
  visibility: hidden;
  margin-top: 0vw;
  margin-left: 38vw;
  background: #8a008d;
  color: transparent;
  position: absolute;
  border: 3px solid white;
  font-family: "Neucha", cursive;
  font-size: clamp(0.5rem, 2vw, 2rem);
  width: 40vw;
  z-index: 98;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.location-popout-container.active {
  height: 20vw;
  visibility: visible;
  margin-top: 25vw;
  color: white;
}

.side-nav-container {
  position: absolute;
  margin-left: 100vw;
  color: white;
  background: #8a008d;
  height: 80vh;
  width: 0vw;
  visibility: hidden;
  z-index: 99;
  border-radius: 5px;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.side-nav-container.active {
  visibility: visible;
  width: 60vw;
  margin-left: 40vw;
}

.side-nav-container > ul {
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav-container > ul > li {
  width: 80%;
  height: 100%;
  font-family: "Neucha", cursive;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  border-top: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav-container > ul > .top-nav-link {
  border-top: none;
}

.side-nav-container > ul > li > a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.foster-btn {
  margin: auto;
  background: #8a008d;
  width: 55vw;
  height: 7vw;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Neucha", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 4vw, 4rem);
}

.doc-icon {
  color: white;
  font-size: clamp(1rem, 4vw, 4rem);
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.bulleted-list {
  margin: 2% 10% 2% 10%;
  list-style-type: disc;
  font-family: "Alegreya Sans", sans-serif;
  font-size: clamp(1rem, 3vw, 2rem);
  color: #000;
}

.bulleted-list > li {
  margin: 2%;
  margin-left: 5%;
}

.foster-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.foster-form {
  margin-bottom: 2vw;
  padding: 0;
}

.adopt-btn {
  margin: auto;
  background: #8a008d;
  width: 65vw;
  height: 8vw;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Neucha", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 4vw, 4rem);
}

.pencil-icon {
  color: white;
  font-size: clamp(1rem, 4vw, 4rem);
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.adopt-form {
  margin-bottom: 2vw;
  padding: 0;
}

.adopt-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cat-img > img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -ms-grid-rows: (24%)[4];
      grid-template-rows: repeat(4, 24%);
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background: #8a008d;
  padding: 2%;
}

.cat-container {
  position: relative;
  background: #e3d9e2;
  z-index: -1;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat-container::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 5%;
  height: 18vw;
  width: 18vw;
  margin-top: 2vw;
  margin-bottom: 13vw;
  z-index: -1;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.cat-container::before {
  content: "";
  position: absolute;
  background: white;
  width: 18vw;
  height: 6vw;
  margin-top: 25vw;
  border-radius: 5%;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.cat-img {
  margin-top: 4vw;
}

.cat-name-adopt {
  margin-top: 6vw;
  font-family: "Neucha", cursive;
  font-size: clamp(1rem, 3vw, 3rem);
  width: 18vw;
  height: 6vw;
  margin-bottom: 5vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  /* justify-content */
  -webkit-box-align: center;
  /* align-items */
  z-index: 1;
}

.cat-name-adopt > a {
  height: 100%;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  /* justify-content */
  -webkit-box-align: center;
  /* align-items */
}

.details-container {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: none;
  -webkit-box-pack: center;
  /* justify-content */
  -webkit-box-align: center;
  /* align-items */
  width: 0;
  height: 100%;
  opacity: 0;
  -ms-grid-rows: 0;
      grid-template-rows: 0;
  z-index: -1;
  background: #fff;
  border-radius: 2vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  margin-left: auto;
}

.details-container.active-adopt {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-container > .cat-container {
  width: 30%;
  background: transparent;
}

.details-container > .cat-container:before,
.details-container > .cat-container:after {
  background: #e3d9e2;
}

.details-container > .details {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details > .cat-name-adopt {
  background: #e3d9e2;
  width: 20vw;
  height: 8vw;
  margin: 2vw;
  border-radius: 2vw;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.details > p {
  font-size: clamp(0.75rem, 3vw, 5rem);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
  margin: 2%;
}

.img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-wrapper > img {
  margin: 2vw;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
}

.bio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.back-btn {
  height: clamp(1.5rem, 5vw, 6rem);
  width: 100%;
  font-family: "Neucha", cursive;
  text-decoration: none;
  background: #e3d9e2;
  font-size: clamp(1rem, 3vw, 5rem);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2vw;
}

.special-needs {
  color: #8a008d;
}

.bioJs {
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: "Alegreya Sans", sans-serif;
  margin: 2% 10% 2% 10%;
  z-index: 2;
}

.rainbow-wrapper > img {
  width: 35vw;
  height: 35vw;
}

.rainbow-wrapper {
  background: #8a008d;
  width: 40vw;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2vw 2vw 2vw;
  border-radius: 2vw;
}

.blog-img > img {
  width: 35vw;
  height: 35vw;
}

.blog-img {
  background: #8a008d;
  width: 40vw;
  height: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2vw;
  margin: 2vw;
}

.wishlist {
  font-size: clamp(1rem, 3vw, 2rem);
  font-family: "Alegreya Sans", sans-serif;
  margin: 5% 10% 2% 10%;
  z-index: 2;
}

.wishlist > li {
  margin-left: 4vw;
}

.special-li {
  color: #8a008d;
}

.contact-grid {
  margin-top: 2vw;
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

h4 {
  width: 100%;
}

.info-icon {
  margin: 0 2vw;
  font-size: 7vw;
}

.adoptApp {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  -webkit-box-pack: center;
  /* justify-content */
  -webkit-box-align: center;
  /* align-items */
}

.purple-bg-app {
  width: 100%;
  background: #e3d9e2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.white-bg-app {
  width: 100%;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

label {
  margin: 2vw;
}

textarea {
  padding: 2vw;
  width: 80%;
}

input {
  width: 80%;
  margin: 2vw;
  padding: 2vw;
}

.req {
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  color: #8a008d;
}

.checkbox-list-app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: (4)[1fr];
      grid-template-rows: repeat(1fr, 4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.consent-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.consent-form-purple {
  background: #e3d9e2;
}

.submit-app-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-app-container > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(1.25rem, 4vw, 5rem);
  font-family: "Neucha", cursive;
  text-transform: uppercase;
  margin: 4vw;
  z-index: 2;
  background: #8a008d;
  color: white;
  outline: none;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 0.5rem;
}

input[type="checkbox"] {
  height: clamp(0.5rem, 5vw, 5rem);
  width: clamp(0.5rem, 5vw, 5rem);
}
/*# sourceMappingURL=style.css.map */